/* Curto CSS 
*  Copyright 2020, Gabriel Lima
*/

/* Table of contents
––––––––––––––––––––––––––––
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Tables
- Spacing
- Utilities
*/

/* Base Styles */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Didact Gothic', 'Roboto', Helvetica, Arial, sans-serif;
  color: #191919;
}

/* Grid */
.container {
  width: 100%;
  max-width: 960px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.column,
.columns {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .one.column,
  .one.columns {
    flex: 0 0 8.334%;
    max-width: 8.334%;
  }

  .two.columns {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }

  .three.columns {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .four.columns {
    flex: 0 0 33.334%;
    max-width: 33.334%;
  }

  .five.columns {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }

  .six.columns {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .seven.columns {
    flex: 0 0 58.334%;
    max-width: 58.334%;
  }

  .eight.columns {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }

  .nine.columns {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .ten.columns {
    flex: 0 0 83.334%;
    max-width: 83.334%;
  }

  .eleven.columns {
    flex: 0 0 91.667%;
    max-width: 91.667%;
  }

  .twelve.columns {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #191919;
  font-weight: 700;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  margin-top: 0;
}

/* Links */

a {
  color: #17bebb;
}

a:hover,
a:focus {
  color: #139997;
}

a:visited {
  color: #f06543;
}

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 3.8rem;
  padding: 0 3rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 3.8rem;
  background-color: #17bebb;
  border: 1px solid #17bebb;
  letter-spacing: 0.1rem;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  border-color: #191919;
  background-color: #191919;
  color: #fff;
  outline: 0;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;
}

.button[disabled]:hover,
button[disabled]:hover,
input[type="submit"][disabled]:hover,
input[type="reset"][disabled]:hover,
input[type="button"][disabled]:hover,
.button[disabled]:focus,
button[disabled]:focus,
input[type="submit"][disabled]:focus,
input[type="reset"][disabled]:focus,
input[type="button"][disabled]:focus {
  background-color: #17bebb;
  border-color: #17bebb;
}

.button.outline,
button.button.outline,
input[type="submit"].button.outline,
input[type="reset"].button.outline,
input[type="button"].button.outline {
  background-color: transparent;
  border-color: #17bebb;
  color: #17bebb;
}

.button.outline:hover,
button.button.outline:hover,
input[type="submit"].button.outline:hover,
input[type="reset"].button.outline:hover,
input[type="button"].button.outline:hover,
.button.outline:focus,
button.button.outline:focus,
input[type="submit"].button.outline:focus,
input[type="reset"].button.outline:focus,
input[type="button"].button.outline:focus {
  border-color: #191919;
  background-color: #191919;
  color: #fff;
  outline: 0;
}

.button.outline[disabled]:hover,
button.button.outline[disabled]:hover,
input[type="submit"][disabled].button.outline:hover,
input[type="reset"][disabled].button.outline:hover,
input[type="button"][disabled].button.outline:hover,
.button[disabled].button.outline:focus,
button[disabled].button.outline:focus,
input[type="submit"][disabled].button.outline:focus,
input[type="reset"][disabled].button.outline:focus,
input[type="button"][disabled].button.outline:focus {
  background-color: transparent;
  border-color: #17bebb;
  color: #17bebb;
}

.button:visited {
  color: #fff;
}

.button.outline:visited {
  color: #17bebb;
}

.button.outline:visited:hover,
.button.outline:visited:focus {
  color: #fff;
}

/* Forms */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type='date'],
input[type='color'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
textarea,
select {
  appearance: none; 
  background-color: transparent;
  padding: 0.6rem 0;
  height: 3.8rem;
  box-shadow: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #191919;
  box-sizing: inherit;
  font: inherit;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type='date']:focus,
input[type='color']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
textarea:focus,
select:focus {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #191919;
  outline: 0;
}

textarea {
  min-height: 6.5rem;
}

label {
  display: block;
  font-weight: 700;
}

/* Lists */
ol,
ul {
  list-style-position: inside;
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1rem 0 0 3rem;
}

li {
  margin-bottom: 1rem;
}