/* Curto CSS 
*  Copyright 2020, Gabriel Lima
*/

/* Table of contents
––––––––––––––––––––––––––––
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Tables
- Spacing
- Utilities
*/

/* Base Styles */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #191919;
}

/* Grid */
.container {
  width: 100%;
  max-width: 960px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.column,
.columns {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .one.column,
  .one.columns {
    flex: 0 0 8.334%;
    max-width: 8.334%;
  }

  .two.columns {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }

  .three.columns {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .four.columns {
    flex: 0 0 33.334%;
    max-width: 33.334%;
  }

  .five.columns {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }

  .six.columns {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .seven.columns {
    flex: 0 0 58.334%;
    max-width: 58.334%;
  }

  .eight.columns {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }

  .nine.columns {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .ten.columns {
    flex: 0 0 83.334%;
    max-width: 83.334%;
  }

  .eleven.columns {
    flex: 0 0 91.667%;
    max-width: 91.667%;
  }

  .twelve.columns {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #191919;
  font-weight: 700;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  margin-top: 0;
}

/* Links */

a {
  color: #17bebb;
}

a:hover,
a:focus {
  color: #139997;
}

a:visited {
  color: #f06543;
}
